$white: #FFFFFF;
$asideborder: #CCCCCC;
$linkvisited: #2196F3;
$textblack: #4D4D4E;
$hr: #D6D5D5;
$hrdetails: #DDDDDD;
$navbarblue: #2196F3;
$mainscreenbg: #EEEEEE;
$textpink: #FF3E81;
$textgray: #999999;